@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  padding: 55px 145px 42px 135px;
  width: 100%;
  height: 100%;
}
