@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  background: url('../../assets/images/pacman-background.svg') no-repeat;
  background-size: contain;
  width: 100%;
  background-position-x: -5px;
}

.container_light {
  background: url('../../assets/images/pacman-background_light.svg') no-repeat;
  background-color: variables.$color-palette-white !important;
}


.avatarContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.username {
  @include mixins.typography-s;

  color: variables.$color-palette-red;
  font-family: variables.$font-press-start-2p;
}

.formContainer {
  margin: 0 200px 0 105px;
  border-radius: 12px;
  padding: 30px;
  min-width: 280px;
  max-width: 280px;
  min-height: 465px;
}

.formContainer_light {
  background-color: variables.$color-palette-black;
}
