@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  @include flexbox;

  flex-direction: column;
  width: 100%;
}

.logo {
  margin-bottom: 68px;
}

.button {
  @include typography-xxl;

  transition: transform 0.2s;
  border: none;
  border-radius: 500px;
  background: $color-palette-yellow;
  padding: 20px 42px;

  &:hover {
    transform: scale(1.1);
  }
}
