@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.container {
  @include mixins.flexbox;

  flex-direction: column;
  width: 100%;
}

.container_light{
  background-color: variables.$color-palette-white;
}

.logo {
  margin-bottom: 68px;
}

.button {
  @include mixins.typography-xxl;

  transition: transform 0.2s;
  border: none;
  border-radius: 500px;
  background: variables.$color-palette-yellow;
  padding: 20px 42px;

  &:hover {
    transform: scale(1.1);
  }
}
