@use 'variables';

@mixin flexbox(
  $align: variables.$default-flexbox-align,
  $justify: variables.$default-flexbox-justify
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

/**
  Text mixins
 */
@mixin typography-xxs {
  font-size: 9px;
  line-height: 10px;
}

@mixin typography-xs {
  font-size: 12px;
  line-height: 14px;
}

@mixin typography-s {
  font-size: 14px;
  line-height: 16px;
}

@mixin typography-m {
  font-size: 16px;
  line-height: 18px;
}

@mixin typography-l {
  font-size: 20px;
  line-height: 22px;
}

@mixin typography-xl {
  font-size: 24px;
  line-height: 26px;
}

@mixin typography-xxl {
  font-size: 72px;
  line-height: 76px;
}
