@use 'variables';

@mixin flexbox(
  $align: variables.$default-flexbox-align,
  $justify: variables.$default-flexbox-justify
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

/**
  Text mixins
 */
@mixin typography-xxs {
  font-size: 8px;
  line-height: 10px;
}

@mixin typography-xs {
  font-size: 12px;
  line-height: 14px;
}

@mixin typography-s {
  font-size: 14px;
  line-height: 16px;
}

@mixin typography-m {
  font-size: 16px;
  line-height: 18px;
}

@mixin typography-l {
  font-size: 20px;
  line-height: 22px;
}

@mixin typography-xl {
  font-size: 24px;
  line-height: 26px;
}

@mixin typography-xxl {
  font-size: 72px;
  line-height: 76px;
}

/**
  Form sprite animation
 */
 @mixin slideAnimation($duration: 5s) {
  animation: slideAnimation $duration linear forwards;
}

@keyframes slideAnimation {

    0% {
      transform: translateX(-100%) translateY(0);
    }
    20% {
      transform: translateX(-80%) translateY(-10px);
    }
    40% {
      transform: translateX(-60%) translateY(10px);
    }
    60% {
      transform: translateX(-40%) translateY(0);
    }
    80% {
      transform: translateX(-20%) translateY(-10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
}