/* flexbox */
$default-flexbox-align: center;
$default-flexbox-justify: center;

/* Grey palette */
$color-palette-yellow: #ffdf00;

/* blue palette */
$color-palette-blue-1: #163bf3;
$color-palette-blue-2: #3369f3;

/* red palette */
$color-palette-red-1: #ff0000;
$color-palette-red-2: #f50100;

/* green palette */
$color-palette-green: #a9d44d;

/* white palette */
$color-palette-white: #ffffff;

/* black palette */
$color-palette-black: #000000;

/* input-sizes */
$input-height: 44px;

/* button-sizes */
$button-height: 50px;
