/* flexbox */
$default-flexbox-align: center;
$default-flexbox-justify: center;

/* Grey palette */
$color-palette-yellow: #ffdf00;

/* blue palette */
$color-palette-blue: #163bf3;

/* red palette */
$color-palette-red: #f50100;

/* green palette */
$color-palette-green: #a9d44d;

/* white palette */
$color-palette-white: #fff;

/* black palette */
$color-palette-black: #000;

/* input-sizes */
$input-height: 44px;

/* button-sizes */
$button-height: 50px;

/* font-variables */
$font-press-start-2p: 'Press Start 2P', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-oi: 'Oi', sans-serif;
