@use 'variables';
@use 'fonts';

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
div[id='root'] {
  border: 0;
  scroll-behavior: smooth;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  max-height: 720px;
  max-width: 1280px;
  color: variables.$color-palette-white;
}

#root {
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
}

.app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  box-shadow: none;
  cursor: pointer;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}
