@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.container {
  @include mixins.flexbox;

  flex-direction: column;
  background: variables.$color-palette-black;
  width: 100%;
}

.buttonWrapper {
  display: flex;

  & :first-child {
    margin-right: 20px;
  }
}

.title {
  @include mixins.typography-xxl;

  margin-bottom: 32px;
  color: variables.$color-palette-yellow;
}
