@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  // flex: 1;
  margin-top: 40px;
  align-items: center;
  background-color: variables.$color-palette-black;
  overflow: hidden;
}

.canvasContainer {
  background-color: variables.$color-palette-black;
}
.score {
  color: white;
  font-size: larger;
}
