@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 70px;
}

.index {
  @include typography-xxl;
  line-height: normal;
  font-family: $font-Press-start-2p;
  margin: 0 45px 0 0;
  min-width: 144px;
  text-align: center;
}

.score {
  @include typography-xl;

  font-family: $font-Press-start-2p;
  color: $color-palette-yellow;
  margin: 0 28px 0 0;
  max-width: 100px;
  width: 100%;
  min-width: 100px;
}

.imageContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px 0 0;
}

.imageDefault {
  width: 36.615px;
  height: 42px;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  @include typography-xl;

  color: $color-palette-red;
  font-family: $font-Quicksand;
}
