@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.section {
  flex: 0 0 auto;

  @include mixins.typography-xs;

  > p {
    margin-top: 7px;
    text-align: center;
  }
}

.link {
  color: variables.$color-palette-yellow;
  font-weight: 700;
}
