@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.container {
  display: flex;
  flex: 1 0;
  background-color: variables.$color-palette-yellow;
}

.contentContainer {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: variables.$color-palette-yellow;
}

.submitError {
  @include mixins.typography-s;

  color: variables.$color-palette-red;
}
