@use '../../assets/styles/variables';

.oauth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  &__link {
    border-radius: 13px;
    background-color: variables.$color-palette-white;
    cursor: pointer;
    height: 56px;
  }
}
