@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.formContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 30px 28px;
  width: 340px;
  height: fit-content;
  min-height: 450px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  background-color: variables.$color-palette-black;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;

    // h2 можно убрать в отдельные компоненты если понадобится
    h2 {
      margin-bottom: 45px;
      text-align: center;
      color: variables.$color-palette-yellow;
      font-family: 'Press Start 2P', sans-serif;

      @include mixins.typography-l;
    }

    .section {
      flex: 0 0 auto;

      @include mixins.typography-xs;

      > p {
        margin-top: 7px;
        text-align: center;
      }
    }
  }
}
