@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.mainImage {
  margin: 16px 0;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: 1px solid variables.$color-palette-red;
  border-radius: 50%;
  background: variables.$color-palette-white;
  cursor: pointer;
  width: 130px;
  height: 130px;
}

.hoverText {
  width: 107px;
  text-align: center;
  color: variables.$color-palette-yellow;
  font-family: variables.$font-press-start-2p;
  font-size: 15px;
}

.hoverOverlay {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.defaultImage {
  position: absolute;
  width: 68px;
  height: 78px;
  object-fit: cover;
}

.wrapper:hover .defaultImage {
  z-index: 1;
}

.wrapper:hover .image {
  z-index: 1;
}

.wrapper:hover .hoverText {
  z-index: 3;
}

.wrapper:hover .hoverOverlay {
  display: flex;
  z-index: 2;
}
