@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.mainImage {
  margin: 16px 0;
  max-width: 100%;
  max-height: 100%;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #efefef;
  width: 130px;
  min-width: 130px;
  height: 130px;
  min-height: 130px;
}

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.hoverText {
  opacity: 0;
  width: 107px;
  text-align: center;
  color: $color-palette-yellow;
  font-family: $font-Press-start-2p;
  font-size: 15px;
}

.hoverOverlay {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.defaultImage {
  position: absolute;
  border-radius: 50%;
  width: 68px;
  height: 78px;
  object-fit: cover;
}

.wrapper:hover .defaultImage {
  opacity: 1;
  z-index: 1;
}

.wrapper:hover .image {
  opacity: 0.5;
}

.wrapper:hover .hoverText {
  opacity: 1;
}

.wrapper:hover .hoverOverlay {
  display: flex;
  z-index: 2;
}
