@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

/** common styles */
.bigBTN {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: variables.$color-palette-yellow;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 18px;
}
/** flavor specific styles */
/** style login link */
// .login {
//   border: red;
// }

/**  style register link */
// .register {
//   border: green;
// }
