@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

/** common styles */
.bigBTN {
  border: none;
  border-radius: 50px;
  background: variables.$color-palette-yellow;
  width: 100%;
  height: 50px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 18px;
}
