@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.form {
  display: flex;
  border-bottom: 2px solid $color-palette-blue;
  padding: 0 0 5px 16px;
  width: 100%;
}

.input {
  border: none;
  background: inherit;
  width: 100%;
  color: $color-palette-blue;
  @include typography-m;
}

.input::placeholder{
  color: $color-palette-blue;
  @include typography-m;
}

.submit {
  @include typography-xl;

  border: none;
  border-radius: 50%;
  background: $color-palette-blue;
  width: 30px;
  height: 30px;
  color: $color-palette-black;
}
