@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.form {
  display: flex;
  border-bottom: 2px solid variables.$color-palette-blue;
  padding: 0 0 5px 16px;
  width: 100%;
}

.input {
  @include mixins.typography-m;

  border: none;
  background: inherit;
  width: 100%;
  color: variables.$color-palette-black;
}

.input::placeholder {
  @include mixins.typography-m;

  color: variables.$color-palette-black;
}

.submit {
  @include mixins.typography-xl;

  border: none;
  border-radius: 50%;
  background: variables.$color-palette-blue;
  width: 30px;
  height: 30px;
  color: variables.$color-palette-black;
}
