@font-face {
  font-family: Oi;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Oi-Regular.ttf');
}

@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Quicksand-Regular.ttf');
}

@font-face {
  font-family: PressStart2P;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('PressStart2P-Regular.ttf');
}
