@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.registerPage {
  display: flex;
  background-color: variables.$color-palette-yellow;
  width: 100%;
  height: 100%;
}

.submitError {
  @include mixins.typography-s;

  position: absolute;
  top: 40px;
  color: variables.$color-palette-red;
}
