@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.registerPage {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: variables.$color-palette-yellow;
}

.title {
  margin-bottom: 45px;
  text-align: center;
  color: variables.$color-palette-yellow;
  font-family: 'Press Start 2P', sans-serif;

  @include mixins.typography-l;
}
