@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.group {
  // height: 64px;

  @include mixins.typography-xs;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 15px;
  line-height: 9px;
  font-weight: 700;
}

.input {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 variables.$color-palette-yellow;
    background: variables.$color-palette-white;
    width: 100%;
    height: 1px;
    content: '';
  }

  > input {
    @include mixins.typography-xs;

    border: none;
    background: none;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
    color: variables.$color-palette-white;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 300;

    &::placeholder {
      background: none;
      font-family: Quicksand, sans-serif;
      font-weight: 300;
    }
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: variables.$color-palette-white;
    box-shadow: 0 0 0 40px black inset;
    font-family: 'Press Start 2P', sans-serif !important;
  }
}

.error {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-left: 30px;
  text-align: justify;

  > p {
    @include mixins.typography-xs;

    position: relative;
    line-height: 15px;
    color: variables.$color-palette-red;

    &::after {
      position: absolute;
      bottom: 0;
      left: -29px;
      background-image: url('../../assets/images/red_ghost.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}

.errorInput {
  color: variables.$color-palette-red !important;
}
