@use '../../../../assets/styles/variables';
@use '../../../../assets/styles/mixins';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 70px;
}

.index {
  @include mixins.typography-xxl;

  margin: 0 45px 0 0;
  min-width: 144px;
  text-align: center;
  line-height: normal;
  font-family: variables.$font-press-start-2p;
}

.score {
  @include mixins.typography-xl;

  margin: 0 28px 0 0;
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  color: variables.$color-palette-yellow;
  font-family: variables.$font-press-start-2p;
}

.name {
  @include mixins.typography-xl;

  margin: 0 0 0 40px;
  color: variables.$color-palette-red;
}
