@import 'mixins';
@import 'variables';

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 63px 0 130px 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 524px);
  grid-template-rows: repeat(5, 70px);
  grid-auto-flow: column;
  gap: 40px 145px;
}
