@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header {
  @include typography-xl;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-palette-black;
  padding: 20px 40px 4px;
  width: 100%;
}

.header_light{
  background-color: $color-palette-white !important;
}

.header_noauth{
  background-color: $color-palette-yellow;
}

.edition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.list {
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  max-width: 669px;
  list-style-type: none;
}

.link {
  color: $color-palette-blue;
}

.linkActive {
  color: $color-palette-red;
}

.exitButton {
  @include typography-xl;

  border: none;
  background: none;
  color: $color-palette-red;
}

.fullscreen {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
