@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

%default-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

%default-link-text {
  line-height: 11px;
  font-size: 20px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 530px;
}

.containerYellow {
  @extend %default-container;

  background-color: variables.$color-palette-yellow;
}

.containerBlue {
  @extend %default-container;

  background-color: variables.$color-palette-blue;
}

.containerBlack {
  @extend %default-container;

  background-color: variables.$color-palette-black;
}

.linkTextYellow {
  @extend %default-link-text;

  color: variables.$color-palette-yellow;
}

.linkTextBlue {
  @extend %default-link-text;

  color: variables.$color-palette-blue;
}

.linkTextBlack {
  @extend %default-link-text;

  color: variables.$color-palette-black;
}

.image {
  max-width: 512px;
  max-height: 522px;
}

.title {
  margin: 46px 0 0;
  line-height: 11px;
  font-family: variables.$font-press-start-2p;
  font-size: 20px
}

.link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}