@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.default-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.default-link-text {
  font-size: 20px;
  line-height: 11px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 530px;
}

.containerYellow {
  @extend .default-container;
  background-color: $color-palette-yellow;
}

.containerBlue {
  @extend .default-container;
  background-color: $color-palette-blue;
}

.containerBlack {
  @extend .default-container;
  background-color: $color-palette-black;
}

.linkTextYellow {
  @extend .default-link-text;
  color: $color-palette-yellow;
}

.linkTextBlue {
  @extend .default-link-text;
  color: $color-palette-blue;
}

.linkTextBlack {
  @extend .default-link-text;
  color: $color-palette-black;
}

.image {
  max-height: 522px;
  max-width: 512px;
}

.title {
  font-size: 20px;
  font-family: $font-Press-start-2p;
  line-height: 11px;
  margin: 46px 0 0 0
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}