@use 'variables' as *;

* {
  box-sizing: border-box !important;
}

html,
body {
  box-sizing: border-box !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  // background-color: $background-color-white;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  //   background-color: $background-color-white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.yellow-bkg {
  background-color: $main-color;
}
