$main-color: #ffdf00;
$excretion-color: #163bf3;
$background-color: #000;
$text-color: #fff;
$point-color: #a9d44d;
$ghost_1-color: #fbb6ff;
$ghost_2-color: #03fefd;
$ghost_3-color: #febc42;
$ghost_4-color: #f50100;

// will need to change that
$font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', helvetica,
  arial, sans-serif;
